li {
  color: #2e3957;
  font-family: "San Francisco", Helvetica, Arial, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color: #333;
}

.topnav {
    background-color: transparent;
    overflow: hidden;
    font-family: "San Francisco", Helvetica, Arial, sans-serif;
}

.logo_ksa{
    position:absolute;
    z-index:10;
    display:block;
    width: 50px;
    height: 50px;
    left:2vw;
    top:10px;
}

.topnav a {
    position: relative;
    float: right;
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-right: 30px;
}
.topnav a:hover {
    color: darkgray;
    font-weight: bold;

}

.active_nav {
    color: dimgray;
}



li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.active {
  background-color: #dedede;
}

h1 {
  color: black;
  font-family: "San Francisco", Helvetica, Arial, sans-serif;
  font-size: 70px;
  text-align: center;
}

h2 {
  color: white;
  font-size: 36px;
  text-align: center;
}

h6 {
    color: black;
    font-family: "San Francisco", Helvetica, Arial, sans-serif;
    font-size:14px;
    margin-left: 20px;
}

h3 {
  color: white;
  font-size: 24px;
}

body {
    margin-left: 0px;

}

.img1 {
  opacity: 0.8;
}

p {
  color: white;
  font-size: 24px;
}

.hero {
    /* Sizing */
    width: 100vw;
    height: 100vh;

    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Text styles */
    text-align: center;
    color: white; /* ADD THIS LINE */

    /* Background styles */
    /*background-image: url("C:/Users/Sung Woo Min/github/sm2598-project-2/images/IMG_3851.JPG");*/
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hero h5 {
    /* Text styles */
    font-size: 6em;
    color: white;
    font-family: "San Francisco", Helvetica, Arial, sans-serif;
    font-weight: bold;

    /* Margins */
    margin-top: 0;
    margin-bottom: 0.5em;
}

.hero h1 {
    /* Text styles */
    font-size: 3.5em;
    color: black;
    font-family: "San Francisco", Helvetica, Arial, sans-serif;
    font-weight: lighter;

    /* Margins */
    margin-top: -49vh;
    margin-bottom: 0.5em;
}

.hero h2 {
    /* Text styles */
    font-size: 3em;
    color: white;
    font-family: "San Francisco", Helvetica, Arial, sans-serif;

    /* Margins */
    margin-top: 0;
    margin-bottom: 0.5em;
}

.hero .btn {
    /* Positioning and sizing */
    display: block;
    width: 200px;

    /* Padding and margins */
    padding: 1em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

    /* Text styles */
    color: white; /* CHANGE THIS LINE */
    text-decoration: none;
    font-size: 1.5em;

    /* Border styles */
    border: 3px solid white; /* CHANGE THIS LINE */
    border-radius: 20px;
}

.navbar {
    position: fixed;
    top: 0px;
    width: 100%;

}

.hero1 {
    margin-top: -60px;
    background-image:url('../images/group.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-left: 0px;


}

.cont_body {position:relative;width:100%;height:100%;overflow: hidden;}
.cont_body.yalla_info1 {background: white; height: 100vh;}
.cont_body.yalla_info1 .in_info {position:relative;width:1020px; text-align:center;margin:0 auto;padding: 120px 0;}
.yalla_info_tit {

    font-size: 3.5em;
    color: black;
    font-family: PT Sans,sans-serif;
    font-weight: lighter;

    /* Margins */
    margin-top: -2vh;
    margin-bottom: 0.2em;
}

.yalla_logo {
    background: url('../img/yalla_logo.svg') 0 0 no-repeat;
    display:inline-block;
    width: 160px;
    height: 61px;
    background-size: 160px 61px;
    -webkit-background-size: 160px 61px;
    font-size:0; text-indent:-2000px;
}

.y_desc {
    margin-bottom: 8px;
    text-align: center;
    font-size: 20px;
    color: #ff6600;
    font-weight: 500;
    margin-top:10px;
}
.r_text {
    margin-bottom: 20px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}

.y_mail {
    margin-bottom: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

.yalla_info_contents {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    text-align: left;
    margin-right: -10px;
}

.yalla_info_contents .info_icon {
    /* padding-left: 139px;     */
    padding-left: 30px;
    width: 260px;
    height: 350px;
    padding-top:30px;
    text-align: center;

}


.yalla_info_contents .info_icon:before {
    /* position: absolute; */
    top: 0;
    display:inline-block;
    height: 280px;
    width: 280px;



    background-repeat: no-repeat;
    content: '';
    margin-left:-40px;
}

.yalla_info_contents .info_icon:nth-child(1):before{

    background-image: url('../images/mission.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.yalla_info_contents .info_icon:nth-child(2):before{
    background-image: url('../images/tradition.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.yalla_info_contents .info_icon:nth-child(3):before{
    background-image: url('../images/here1.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.yalla_info_contents .info_icon .y_icontitle{

    font-size:24px;
    padding-top:20px;
    text-align: center;
    font-weight: bold;
    display:inline-block;
    color: grey;
    width:300px;
    margin-left: -30px;


}
.yalla_info_contents .info_icon .y_icondesc{
    vertical-align:top;
    font-size: 20px;
    padding-top: 5px;
    text-align: center;
    display:inline-block;
    width: 300px;
    margin-left: -30px;

}

.cont_body.yalla_info2 {
    background:url('../images/IMG_3848.JPG');
    background-size: cover;
    background-repeat: no-repeat;
    height: 1800px;
    ;


}
.cont_body.yalla_info2 .in_info {position:relative;width:1020px; text-align:center;margin:0 auto;padding:40px 0;}
#footer	{width:100%;min-width:980px;min-height:120px;}
#footer .foot	{width:1020px;position:relative;margin:0 auto;text-align: center;}
#footer .foot .info	{padding-top:10px;}
#footer .foot .info a	{color:#8c8c8c;cursor:text;}
#footer .foot .info .line	{padding:0 10px;height:24px;display:inline-block;font-size:1px;line-height:24px;color:#57575a;}
#footer .foot .address	{padding:0 10px;}
#footer .foot dt	{margin-right:10px;font-size:14px;line-height:24px;color:black;display:inline-block;}
#footer .foot dd	{font-size:13px;line-height:24px;color:#8c8c8c;display:inline-block;}
#footer .foot .address dd span	{display:block;}
#footer .foot .social dt	{margin-bottom:7px;}
#footer .copyright	{height:40px;}
#footer .copyright p	{width:1020px;margin:0 auto;text-align:center;font-size:12px;color:#888;line-height:40px;}


content1 {
    background: gray;
    height: 110vh;
    width: 100vw;
    background-color: gray;

}

.eboard {
    width: 100vw;
    max-height: 200vh;
    min-height: 200vh;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    font-family: "San Francisco", Helvetica, Arial, sans-serif;
}
.gallery1 {
    width: 20vw;
    margin-left: 4vw;
    border: 1px solid white;
    max-height: 100px;
}
.gallery1 img {
    width: 100%;
    height: auto;
}

.gallery {
    width: 20vw;

    margin-left: 4vw;
    border: 1px solid white;
    margin-bottom: 0;
    text-align: center;
    font-size: 20px;
    max-height: 100px;

}
.gallery:hover {
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.gallery img {
    width: 100%;
    height: auto;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 0px;
    border: 1px solid #888;
    width: 60%;
    height: 70vh;
    color: black;
    display: flex;
    flex-wrap: wrap;
}

.modal-content img{
    width: 50%;
    object-fit: cover;
}
.desc {
    width: 50%;
    color: black;
}
.desc h1 {
    font-size: 22px;
    margin-left: 20px;
}
.desc h2 {
    font-size: 14px;
    margin-left: 0px;
    color: black;
}
.desc p {
    font-size: 18px;
    color: black;
    margin-left: 20px;

}


/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    display: none;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    background-color: transparent;
    border: transparent;
  }
  .next {
    right: 0;
  }

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.mobile-container {
    max-width: 480px;
    margin: auto;
    background-color: #555;
    height: 500px;
    color: white;
    border-radius: 10px;
    display: none;
}

.topnav #myLinks {
display: none;
}
